# Exploratory Notebook

In [76]:
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv('../Data/Aviation_Data.csv')
df

/Users/DonJuve/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88958 entries, 0 to 90347
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88958 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
 31  Year                    88889 non-null  object
dtypes: float64(5), object(27)
memory usage: 22.4+ MB

In [122]:
df.shape

(88958, 32)

In [123]:
df['Total.Fatal.Injuries'].value_counts()

0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
31.0         1
169.0        1
150.0        1
117.0        1
156.0        1
Name: Total.Fatal.Injuries, Length: 125, dtype: int64

In [124]:
df['Total.Serious.Injuries'].value_counts()

0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
8.0         13
10.0        13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
25.0         3
20.0         3
28.0         3
17.0         2
50.0         2
59.0         2
21.0         2
47.0         2
55.0         1
88.0         1
41.0         1
67.0         1
33.0         1
18.0         1
161.0        1
81.0         1
39.0         1
137.0        1
27.0         1
15.0         1
45.0         1
125.0        1
23.0         1
44.0         1
106.0        1
22.0         1
34.0         1
16.0         1
35.0         1
53.0         1
43.0         1
63.0         1
19.0         1
60.0         1
Name: Total.Serious.Injuries, dtype: int64

In [125]:
df['Total.Minor.Injuries'].value_counts()

0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
12.0        11
10.0        11
14.0        10
11.0         9
17.0         8
18.0         6
19.0         6
22.0         5
24.0         5
15.0         4
33.0         4
16.0         4
25.0         4
23.0         3
21.0         3
32.0         3
20.0         3
27.0         3
26.0         3
30.0         2
36.0         2
42.0         2
28.0         2
38.0         2
50.0         2
31.0         2
43.0         1
39.0         1
65.0         1
47.0         1
57.0         1
58.0         1
29.0         1
45.0         1
62.0         1
71.0         1
200.0        1
125.0        1
96.0         1
69.0         1
380.0        1
68.0         1
171.0        1
35.0         1
40.0         1
84.0         1
Name: Total.Minor.Injuries, dtype: int64

In [126]:
df['Total.Uninjured'].value_counts()

0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
325.0        1
230.0        1
260.0        1
251.0        1
414.0        1
Name: Total.Uninjured, Length: 379, dtype: int64

In [127]:
df['Total.Fatal.Injuries'].isna().sum()
# ~13% of data

11470

In [128]:
df['Total.Serious.Injuries'].isna().sum()
# ~14% of data

12579

In [129]:
df['Total.Minor.Injuries'].isna().sum()

12002

In [130]:
df['Total.Uninjured'].isna().sum()

5981

In [131]:
df['Aircraft.damage'].value_counts()

Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: Aircraft.damage, dtype: int64

In [132]:
df['Aircraft.damage'].isna().sum()

3263

In [133]:
df['Report.Status'].value_counts()

Probable Cause                                                                                                                                                                                     61754
Foreign                                                                                                                                                                                             1999
<br /><br />                                                                                                                                                                                         167
Factual                                                                                                                                                                                              145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                          58
                                                                                                                                                                                                   ...
An in-flight fire for reasons that could not be determined due to the extent of impact and fire damage.                                                                                                1
The pilot's failure to maintain directional control during the go-around, which resulted in a collision with terrain.                                                                                  1
A total loss of engine power for reasons that could not be determined due to insufficient evidence. \r\n\r\n\r                                                                                         1
A loss of engine power during descent for reasons that could not be determined because postaccident examination of the engine revealed no anomalies that would have precluded normal operation.        1
The pilot's inadequate compensation for the gusting crosswinds and his failure to maintain directional control during landing.                                                                         1
Name: Report.Status, Length: 17007, dtype: int64

In [134]:
df['Air.carrier'].value_counts()

Pilot                          258
American Airlines               90
United Airlines                 89
Delta Air Lines                 53
SOUTHWEST AIRLINES CO           42
                              ...
BUTTERMORE DALE D                1
WRANGELL MOUNTAIN AIR INC        1
SWALLEY MARK H                   1
Tatonduk Outfitters Limited      1
Monarch Air Group                1
Name: Air.carrier, Length: 13590, dtype: int64

In [135]:
df_remove_na=df.dropna()
df_remove_na

Empty DataFrame
Columns: [Event.Id, Investigation.Type, Accident.Number, Event.Date, Location, Country, Latitude, Longitude, Airport.Code, Airport.Name, Injury.Severity, Aircraft.damage, Aircraft.Category, Registration.Number, Make, Model, Amateur.Built, Number.of.Engines, Engine.Type, FAR.Description, Schedule, Purpose.of.flight, Air.carrier, Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured, Weather.Condition, Broad.phase.of.flight, Report.Status, Publication.Date, Year]
Index: []

[0 rows x 32 columns]

In [136]:
df['Injury.Severity'].value_counts()

Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(64)         1
Fatal(43)         1
Fatal(35)         1
Fatal(111)        1
Fatal(44)         1
Name: Injury.Severity, Length: 109, dtype: int64

In [137]:
df['Weather.Condition'].value_counts()

VMC    77303
IMC     5976
UNK      856
Unk      262
Name: Weather.Condition, dtype: int64

In [138]:
df['Make'].value_counts()

Cessna              27149
Piper               14870
Beech                5372
Boeing               2745
Bell                 2722
                    ...
Ouzts rodney            1
Smith carter a          1
Fred b. stencel         1
Cruiser                 1
David l thompson        1
Name: Make, Length: 7587, dtype: int64

In [139]:
df['Make'] = df['Make'].str.capitalize()
df['Make'].value_counts()

<ipython-input-139-e8af65187d09>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Make'] = df['Make'].str.capitalize()

Cessna              27149
Piper               14870
Beech                5372
Boeing               2745
Bell                 2722
                    ...
Ouzts rodney            1
Smith carter a          1
Fred b. stencel         1
Cruiser                 1
David l thompson        1
Name: Make, Length: 7587, dtype: int64

In [140]:
df['Model'].value_counts()

152                2367
172                1756
172N               1164
PA-28-140           932
150                 829
                   ...
KITFOX SERIES 5       1
DV-20                 1
DAKATO HAWK           1
P2V                   1
172 - F               1
Name: Model, Length: 12318, dtype: int64

In [141]:
df['Event.Date'][:4].value_counts()

1974-08-30    1
1962-07-19    1
1948-10-24    1
1977-06-19    1
Name: Event.Date, dtype: int64

In [142]:
df.duplicated().value_counts()

False    88958
dtype: int64

In [143]:
df = df.drop_duplicates()
# duplicates dropped

In [144]:
df['Make'] = df['Make'].str.capitalize()
df['Make'].value_counts()

Cessna              27149
Piper               14870
Beech                5372
Boeing               2745
Bell                 2722
                    ...
Ouzts rodney            1
Smith carter a          1
Fred b. stencel         1
Cruiser                 1
David l thompson        1
Name: Make, Length: 7587, dtype: int64

In [145]:
df['Make'].unique()[:40]

array(['Stinson', 'Piper', 'Cessna', 'Rockwell', 'Mcdonnell douglas',
       'North american', 'Beech', 'Bellanca', 'Navion', 'Enstrom',
       'Smith', 'Bell', 'Grumman', 'Beechcraft', 'Maule', 'Air tractor',
       'Aerospatiale', 'Mooney', 'Boeing', 'Curtis', 'Schleicher',
       'Quickie', 'Lockheed', 'Embraer', 'Hughes', 'Swearingen',
       'De havilland', 'Bell helicopter', 'Bede aircraft', 'Convair',
       'Beachner', 'Canadair', 'Douglas', 'Sons mustang', 'Dassault/sud',
       'Sikorsky', 'Bell/textron', 'Robertson', 'Aeronca',
       'Smith miniplane'], dtype=object)

In [146]:
df.shape

(88958, 32)

In [147]:
df['Year'] = df['Event.Date'].str[:4]
print(df['Year'])

0        1948
1        1962
2        1974
3        1977
4        1979
         ...
90343    2022
90344    2022
90345    2022
90346    2022
90347    2022
Name: Year, Length: 88958, dtype: object

In [148]:
df['Amateur.Built'].value_counts()

No     80312
Yes     8475
Name: Amateur.Built, dtype: int64

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88958 entries, 0 to 90347
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88958 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
 31  Year                    88889 non-null  object
dtypes: float64(5), object(27)
memory usage: 22.4+ MB

In [150]:
df['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

In [151]:
df['Make'].value_counts()

Cessna              27149
Piper               14870
Beech                5372
Boeing               2745
Bell                 2722
                    ...
Ouzts rodney            1
Smith carter a          1
Fred b. stencel         1
Cruiser                 1
David l thompson        1
Name: Make, Length: 7587, dtype: int64

In [154]:
#df_airplane['Make'].value_counts()

In [155]:
df['Make'].value_counts()[:20]

Cessna               27149
Piper                14870
Beech                 5372
Boeing                2745
Bell                  2722
Mooney                1334
Robinson              1230
Grumman               1172
Bellanca              1045
Hughes                 932
Schweizer              773
Air tractor            691
Aeronca                636
Mcdonnell douglas      608
Maule                  589
Champion               519
Stinson                439
Aero commander         429
De havilland           422
Luscombe               414
Name: Make, dtype: int64

In [157]:
#df_airplane['Make'].value_counts()[:20]

In [158]:
df['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

In [159]:
df_airplane = df[df['Aircraft.Category'].str.lower().str.contains('airplane', na=False)]
df_airplane

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Year
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.4453,-70.7583,NaN,NaN,...,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017,1979
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982,1982
12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983,1982
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"Lewistown, MT",United States,047257N,0109280W,KLWT,Lewiston Municipal Airport,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022,2022
90332,20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,FERNANDO LUIS RIBAS DOMINICCI,...,SKY WEST AVIATION INC TRUSTEE,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022
90335,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,373829N,0972635W,ICT,WICHITA DWIGHT D EISENHOWER NT,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022,2022
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,BROOKSVILLE-TAMPA BAY RGNL,...,GERBER RICHARD E,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022,2022
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022

In [160]:
df_airplane['Make'].unique()

array(['Mcdonnell douglas', 'Cessna', 'Bellanca', ..., 'Greg hobbs',
       'James r dernovsek', 'Orlican s r o'], dtype=object)

In [161]:
df_airplane['Injury.Severity'].value_counts()

Non-Fatal      21063
Fatal           4238
Fatal(1)         386
Fatal(2)         279
Incident         246
Minor            165
Serious          127
Fatal(3)          90
Fatal(4)          79
Fatal(5)          26
Unavailable       21
Fatal(6)          21
Fatal(8)          13
Fatal(7)          13
Fatal(10)          7
Fatal(12)          4
Fatal(154)         2
Fatal(13)          2
Fatal(160)         1
Fatal(54)          1
Fatal(11)          1
Fatal(19)          1
Fatal(131)         1
Fatal(35)          1
Fatal(169)         1
Fatal(97)          1
Fatal(9)           1
Fatal(16)          1
Fatal(228)         1
Fatal(24)          1
Fatal(17)          1
Fatal(26)          1
Fatal(27)          1
Fatal(20)          1
Fatal(65)          1
Fatal(113)         1
Fatal(14)          1
Fatal(18)          1
Fatal(125)         1
Name: Injury.Severity, dtype: int64

In [162]:
df_airplane['Purpose.of.flight'].value_counts()

Personal                     16154
Instructional                 3212
Aerial Application            1068
Unknown                        886
Business                       785
Positioning                    359
Flight Test                    226
Ferry                          176
Aerial Observation             170
Skydiving                      166
Other Work Use                 158
Executive/corporate            151
Banner Tow                      89
Air Race show                   74
Public Aircraft - Federal       53
Public Aircraft                 43
Glider Tow                      35
Public Aircraft - State         24
Firefighting                    17
Public Aircraft - Local         12
Air Race/show                    7
ASHO                             6
PUBS                             3
Air Drop                         3
External Load                    1
Name: Purpose.of.flight, dtype: int64

In [163]:
df_airplane['Aircraft.damage'].value_counts()

Substantial    21719
Destroyed       3552
Minor            964
Unknown          100
Name: Aircraft.damage, dtype: int64

In [164]:
#df_airplane['Make'].value_counts()[:20]

In [165]:
df_airplane

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Year
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.4453,-70.7583,NaN,NaN,...,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017,1979
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982,1982
12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983,1982
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"Lewistown, MT",United States,047257N,0109280W,KLWT,Lewiston Municipal Airport,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022,2022
90332,20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,FERNANDO LUIS RIBAS DOMINICCI,...,SKY WEST AVIATION INC TRUSTEE,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022
90335,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,373829N,0972635W,ICT,WICHITA DWIGHT D EISENHOWER NT,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022,2022
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,BROOKSVILLE-TAMPA BAY RGNL,...,GERBER RICHARD E,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022,2022
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022

In [166]:
#df_airplane_20 = df_airplane[df_airplane['Make'].value_counts().head(20).index]
#df_truncated = df[df['Make'].isin(top_20_makes)]

df_airplane_20 = df_airplane[df_airplane['Make'].isin(df_airplane['Make'].value_counts().head(20).index)]
#df_airplane = df['Make'].value_counts()[:20]

In [169]:
df_airplane_20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19542 entries, 7 to 90336
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                19542 non-null  object
 1   Investigation.Type      19542 non-null  object
 2   Accident.Number         19542 non-null  object
 3   Event.Date              19542 non-null  object
 4   Location                19537 non-null  object
 5   Country                 19536 non-null  object
 6   Latitude                15056 non-null  object
 7   Longitude               15054 non-null  object
 8   Airport.Code            12442 non-null  object
 9   Airport.Name            12862 non-null  object
 10  Injury.Severity         18869 non-null  object
 11  Aircraft.damage         18537 non-null  object
 12  Aircraft.Category       19542 non-null  object
 13  Registration.Number     19382 non-null  object
 14  Make                    19542 non-null  object
 15  Model                   19533 non-null  object
 16  Amateur.Built           19528 non-null  object
 17  Number.of.Engines       17546 non-null  float64
 18  Engine.Type             16461 non-null  object
 19  FAR.Description         19220 non-null  object
 20  Schedule                2192 non-null   object
 21  Purpose.of.flight       16778 non-null  object
 22  Air.carrier             7917 non-null   object
 23  Total.Fatal.Injuries    17250 non-null  float64
 24  Total.Serious.Injuries  17170 non-null  float64
 25  Total.Minor.Injuries    17405 non-null  float64
 26  Total.Uninjured         18968 non-null  float64
 27  Weather.Condition       17230 non-null  object
 28  Broad.phase.of.flight   5035 non-null   object
 29  Report.Status           15893 non-null  object
 30  Publication.Date        17975 non-null  object
 31  Year                    19542 non-null  object
dtypes: float64(5), object(27)
memory usage: 4.9+ MB

In [171]:
#df_airplane.to_csv('Airplane_data.csv')
df_airplane_20.to_csv('df_airplane_20.csv')

In [172]:
#df_injuries = df.dropna(subset=['Total.Fatal.Injuries', 'Total.Serious.Injuries',
                                'Total.Minor.Injuries', 'Total.Uninjured', 'Make', 
                                'Model', 'Injury.Severity'], how='any')
#df_injuries

IndentationError: unexpected indent (<ipython-input-172-e8d6a053bf76>, line 2)

In [ ]:
#df.drop('Longitude', axis=1, inplace=True)

In [ ]:
df

In [ ]:
#relevant_columns = ['Event.Id', 'Year', 'Injury.Severity', 'Make', 'Model', ]