# Exploratory Notebook

In [91]:
import pandas as pd
import numpy as np

df= pd.read_csv('../Data/Aviation_data.csv')

C:\Users\jacob\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [92]:
#checking table
df.head

<bound method NDFrame.head of              Event.Id Investigation.Type Accident.Number  Event.Date  \
0      20001218X45444           Accident      SEA87LA080  1948-10-24
1      20001218X45447           Accident      LAX94LA336  1962-07-19
2      20061025X01555           Accident      NYC07LA005  1974-08-30
3      20001218X45448           Accident      LAX96LA321  1977-06-19
4      20041105X01764           Accident      CHI79FA064  1979-08-02
...               ...                ...             ...         ...
90343  20221227106491           Accident      ERA23LA093  2022-12-26
90344  20221227106494           Accident      ERA23LA095  2022-12-26
90345  20221227106497           Accident      WPR23LA075  2022-12-26
90346  20221227106498           Accident      WPR23LA076  2022-12-26
90347  20221230106513           Accident      ERA23LA097  2022-12-29

              Location        Country Latitude Longitude Airport.Code  \
0      MOOSE CREEK, ID  United States      NaN       NaN          NaN
1       BRIDGEPORT, CA  United States      NaN       NaN          NaN
2        Saltville, VA  United States  36.9222  -81.8781          NaN
3           EUREKA, CA  United States      NaN       NaN          NaN
4           Canton, OH  United States      NaN       NaN          NaN
...                ...            ...      ...       ...          ...
90343    Annapolis, MD  United States      NaN       NaN          NaN
90344      Hampton, NH  United States      NaN       NaN          NaN
90345       Payson, AZ  United States  341525N  1112021W          PAN
90346       Morgan, UT  United States      NaN       NaN          NaN
90347       Athens, GA  United States      NaN       NaN          NaN

      Airport.Name  ... Purpose.of.flight         Air.carrier  \
0              NaN  ...          Personal                 NaN
1              NaN  ...          Personal                 NaN
2              NaN  ...          Personal                 NaN
3              NaN  ...          Personal                 NaN
4              NaN  ...          Personal                 NaN
...            ...  ...               ...                 ...
90343          NaN  ...          Personal                 NaN
90344          NaN  ...               NaN                 NaN
90345       PAYSON  ...          Personal                 NaN
90346          NaN  ...          Personal  MC CESSNA 210N LLC
90347          NaN  ...          Personal                 NaN

      Total.Fatal.Injuries Total.Serious.Injuries Total.Minor.Injuries  \
0                      2.0                    0.0                  0.0
1                      4.0                    0.0                  0.0
2                      3.0                    NaN                  NaN
3                      2.0                    0.0                  0.0
4                      1.0                    2.0                  NaN
...                    ...                    ...                  ...
90343                  0.0                    1.0                  0.0
90344                  0.0                    0.0                  0.0
90345                  0.0                    0.0                  0.0
90346                  0.0                    0.0                  0.0
90347                  0.0                    1.0                  0.0

      Total.Uninjured Weather.Condition  Broad.phase.of.flight  \
0                 0.0               UNK                 Cruise
1                 0.0               UNK                Unknown
2                 NaN               IMC                 Cruise
3                 0.0               IMC                 Cruise
4                 0.0               VMC               Approach
...               ...               ...                    ...
90343             0.0               NaN                    NaN
90344             0.0               NaN                    NaN
90345             1.0               VMC                    NaN
90346             0.0               NaN                    NaN
90347             1.0               NaN                    NaN

        Report.Status Publication.Date
0      Probable Cause              NaN
1      Probable Cause       19-09-1996
2      Probable Cause       26-02-2007
3      Probable Cause       12-09-2000
4      Probable Cause       16-04-1980
...               ...              ...
90343             NaN       29-12-2022
90344             NaN              NaN
90345             NaN       27-12-2022
90346             NaN              NaN
90347             NaN       30-12-2022

[90348 rows x 31 columns]>

In [93]:
#checking info for where to start
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [95]:
#this will make all the answers in the Make category uniform with the answers
df['Make'] = df['Make'].str.capitalize()

In [111]:
unique_severity=df['Injury.Severity'].unique()[:25]
print(unique_severity)

['Fatal(2)' 'Fatal(4)' 'Fatal(3)' 'Fatal(1)' 'Non-Fatal' 'Incident'
 'Fatal(8)' 'Fatal(78)' 'Fatal(7)' 'Fatal(6)' 'Fatal(5)' 'Fatal(153)'
 'Fatal(12)' 'Fatal(14)' 'Fatal(23)' 'Fatal(10)' 'Fatal(11)' 'Fatal(9)'
 'Fatal(17)' 'Fatal(13)' 'Fatal(29)' 'Fatal(70)' 'Unavailable'
 'Fatal(135)' 'Fatal(31)']

In [103]:
unique_makes = df['Make'].unique()[:40]
print(unique_makes)

['Stinson' 'Piper' 'Cessna' 'Rockwell' 'Mcdonnell douglas'
 'North american' 'Beech' 'Bellanca' 'Navion' 'Enstrom' 'Smith' 'Bell'
 'Grumman' 'Beechcraft' 'Maule' 'Air tractor' 'Aerospatiale' 'Mooney'
 'Boeing' 'Curtis' 'Schleicher' 'Quickie' 'Lockheed' 'Embraer' 'Hughes'
 'Swearingen' 'De havilland' 'Bell helicopter' 'Bede aircraft' 'Convair'
 'Beachner' 'Canadair' 'Douglas' 'Sons mustang' 'Dassault/sud' 'Sikorsky'
 'Bell/textron' 'Robertson' 'Aeronca' 'Smith miniplane']

In [96]:
#listing of keys
df.keys()

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [98]:
df['Total.Serious.Injuries'].value_counts()

0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
8.0         13
10.0        13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
25.0         3
20.0         3
28.0         3
17.0         2
50.0         2
59.0         2
21.0         2
47.0         2
55.0         1
88.0         1
41.0         1
67.0         1
33.0         1
18.0         1
161.0        1
81.0         1
39.0         1
137.0        1
27.0         1
15.0         1
45.0         1
125.0        1
23.0         1
44.0         1
106.0        1
22.0         1
34.0         1
16.0         1
35.0         1
53.0         1
43.0         1
63.0         1
19.0         1
60.0         1
Name: Total.Serious.Injuries, dtype: int64

In [47]:
df['Total.Uninjured'].value_counts()

0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
325.0        1
230.0        1
260.0        1
251.0        1
414.0        1
Name: Total.Uninjured, Length: 379, dtype: int64

In [48]:
df['Report.Status'].value_counts()

Probable Cause                                                                                                                                    61754
Foreign                                                                                                                                            1999
<br /><br />                                                                                                                                        167
Factual                                                                                                                                             145
The pilot's failure to maintain directional control during the landing roll.                                                                         58
                                                                                                                                                  ...
Maintenance personnels improper landing gear system repair, which resulted in a hydraulic leak and subsequent gear collapse during landing.\r        1
The pilots attempted takeoff with the fuel hose attached to the helicopter and the pilot and ground crews failure to accurately communicate.        1
The pilot's failure to maintain directional control during the precautionary landing.  Contributing to the accident were the wind gusts.              1
The student pilots improper landing flare, which resulted in a hard landing and loss of directional control.\r                                       1
The overstress fracture and failure of a main landing gear wheel during landing, resulting in the right wing striking the ground.                     1
Name: Report.Status, Length: 17007, dtype: int64

In [18]:
df['Event.Date'].value_counts()

2000-07-08    25
1984-06-30    25
1982-05-16    25
1986-05-17    24
1983-08-05    24
              ..
2011-01-16     1
2019-01-01     1
2020-05-10     1
2000-01-13     1
2021-02-15     1
Name: Event.Date, Length: 14782, dtype: int64

In [50]:
#seperate the event dat into years and add a column for just year
df['Year'] = df['Event.Date'].str[:4]
print(df['Year'])

0        1948
1        1962
2        1974
3        1977
4        1979
         ...
90343    2022
90344    2022
90345    2022
90346    2022
90347    2022
Name: Year, Length: 90348, dtype: object

In [38]:
df.duplicated().value_counts()

False    7006
dtype: int64

In [25]:
#dropping duplicates
df= df.drop_duplicates()

In [39]:
df.shape

(7006, 32)

In [28]:
df['Country'].value_counts()

United States     82248
Brazil              374
Canada              359
Mexico              358
United Kingdom      344
                  ...
AY                    1
Pacific Ocean         1
Sierra Leone          1
Yemen                 1
Ivory Coast           1
Name: Country, Length: 219, dtype: int64

In [29]:
#columns_to_clean = ['Event.Id', 'Accident.Number', 'Event.Date', 'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Injury.Severity', 'Aircraft.damage', 'Number.of.Engines', 'Engine.Type', 'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status', 'Publication.Date']
#for column in columns_to_clean:
    #df = df[df[column].notnull()]

In [62]:
df_injuries = df.dropna(subset=['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries','Total.Uninjured','Make', 'Model', 'Injury.Severity'],how='any')
df_injuries

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Year
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,1948
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,1962
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,1977
6,20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001,1981
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90341,20221222106486,Accident,CEN23LA068,2022-12-21,"Reserve, LA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,27-12-2022,2022
90342,20221228106502,Accident,GAA23WA046,2022-12-22,"Brasnorte,",Brazil,NaN,NaN,NaN,NaN,...,NaN,1.0,0.0,0.0,0.0,NaN,NaN,NaN,28-12-2022,2022
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,2022
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022

In [71]:
df = df.drop(['Longitude', 'Airport.Code','Airport.Name','Air.carrier'], axis=1)

KeyError: "['Longitude' 'Airport.Code' 'Airport.Name' 'Air.carrier'] not found in axis"

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27617 entries, 5 to 90345
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                27617 non-null  object
 1   Investigation.Type      27617 non-null  object
 2   Accident.Number         27617 non-null  object
 3   Event.Date              27617 non-null  object
 4   Location                27610 non-null  object
 5   Country                 27610 non-null  object
 6   Injury.Severity         26803 non-null  object
 7   Aircraft.damage         26335 non-null  object
 8   Aircraft.Category       27617 non-null  object
 9   Registration.Number     27391 non-null  object
 10  Make                    27608 non-null  object
 11  Model                   27586 non-null  object
 12  Amateur.Built           27600 non-null  object
 13  Number.of.Engines       24863 non-null  float64
 14  Engine.Type             23391 non-null  object
 15  FAR.Description         27118 non-null  object
 16  Schedule                2990 non-null   object
 17  Purpose.of.flight       23878 non-null  object
 18  Total.Fatal.Injuries    24452 non-null  float64
 19  Total.Serious.Injuries  24393 non-null  float64
 20  Total.Minor.Injuries    24739 non-null  float64
 21  Total.Uninjured         26717 non-null  float64
 22  Weather.Condition       24564 non-null  object
 23  Broad.phase.of.flight   6408 non-null   object
 24  Report.Status           22646 non-null  object
 25  Publication.Date        25377 non-null  object
 26  Year                    27617 non-null  object
dtypes: float64(5), object(22)
memory usage: 5.9+ MB

In [114]:
#removed all data that doesnt pertain to an airplane in the key Aircraft.category brought total number of entries down to 27617
df = df[df['Aircraft.Category'].str.lower().str.contains('airplane', na=False)]

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27617 entries, 5 to 90345
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                27617 non-null  object
 1   Investigation.Type      27617 non-null  object
 2   Accident.Number         27617 non-null  object
 3   Event.Date              27617 non-null  object
 4   Location                27610 non-null  object
 5   Country                 27610 non-null  object
 6   Injury.Severity         26803 non-null  object
 7   Aircraft.damage         26335 non-null  object
 8   Aircraft.Category       27617 non-null  object
 9   Registration.Number     27391 non-null  object
 10  Make                    27608 non-null  object
 11  Model                   27586 non-null  object
 12  Amateur.Built           27600 non-null  object
 13  Number.of.Engines       24863 non-null  float64
 14  Engine.Type             23391 non-null  object
 15  FAR.Description         27118 non-null  object
 16  Schedule                2990 non-null   object
 17  Purpose.of.flight       23878 non-null  object
 18  Total.Fatal.Injuries    24452 non-null  float64
 19  Total.Serious.Injuries  24393 non-null  float64
 20  Total.Minor.Injuries    24739 non-null  float64
 21  Total.Uninjured         26717 non-null  float64
 22  Weather.Condition       24564 non-null  object
 23  Broad.phase.of.flight   6408 non-null   object
 24  Report.Status           22646 non-null  object
 25  Publication.Date        25377 non-null  object
 26  Year                    27617 non-null  object
dtypes: float64(5), object(22)
memory usage: 5.9+ MB

In [75]:
df['FAR.Description'].value_counts()

091                               15901
Part 91: General Aviation          5688
NUSN                               1157
NUSC                                807
137                                 744
121                                 653
135                                 540
Part 137: Agricultural              360
Part 135: Air Taxi & Commuter       235
UNK                                 232
129                                 202
Part 121: Air Carrier               165
PUBU                                126
Part 129: Foreign                    89
Non-U.S., Non-Commercial             78
Non-U.S., Commercial                 74
Unknown                              19
091K                                 14
Public Use                           13
Part 125: 20+ Pax,6000+ lbs           5
125                                   5
ARMF                                  4
Part 133: Rotorcraft Ext. Load        2
Armed Forces                          1
Part 91F: Special Flt Ops.            1
Public Aircraft                       1
107                                   1
Part 91 Subpart K: Fractional         1
Name: FAR.Description, dtype: int64

In [76]:
df['Purpose.of.flight'].value_counts()

Personal                     16154
Instructional                 3212
Aerial Application            1068
Unknown                        886
Business                       785
Positioning                    359
Flight Test                    226
Ferry                          176
Aerial Observation             170
Skydiving                      166
Other Work Use                 158
Executive/corporate            151
Banner Tow                      89
Air Race show                   74
Public Aircraft - Federal       53
Public Aircraft                 43
Glider Tow                      35
Public Aircraft - State         24
Firefighting                    17
Public Aircraft - Local         12
Air Race/show                    7
ASHO                             6
Air Drop                         3
PUBS                             3
External Load                    1
Name: Purpose.of.flight, dtype: int64

In [80]:
df['Model'].value_counts()

172         870
152         451
737         404
182         345
172N        316
           ...
17 31         1
C-180J        1
RANS S-6      1
C54           1
75            1
Name: Model, Length: 5367, dtype: int64

['Cessna', 'Piper', 'Beech', 'Boeing', 'Mooney', 'Bellanca', 'Grumman', 'Airbus', 'Maule', 'Aeronca', 'Air tractor', 'Cirrus design corp', 'Air tractor inc', 'Champion', 'Luscombe', 'Embraer', 'Stinson', 'Cirrus', 'Vans', 'North american', 'Mcdonnell douglas', 'Taylorcraft', 'Aero commander', 'Dehavilland', 'De havilland', 'Aviat aircraft inc', 'Socata', 'Diamond aircraft ind inc', 'Aviat', 'Ercoupe', 'Bombardier inc', 'Raytheon aircraft company', 'Rockwell international', 'Ayres', 'Grumman acft eng cor-schweizer', 'Rockwell', 'Douglas', 'Rans', 'Swearingen', 'American champion aircraft']

<ipython-input-85-027efbad2b39>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Make'] = df['Make'].str.capitalize()

In [ ]:
#categories that data may not pertain to our project/business inquiry
#event.date,registration number, schedule, publication date, FAR description??
#
#

In [118]:
#great identifier to seperate into cateogries, maybe color code this with the makes of the planes...?
df_airplane = df['Aircraft.damage'].value_counts()

In [119]:
df_airplane.to_csv('Aviation_data.csv')