# Exploratory Notebook

In [4]:
import pandas as pd
import numpy as np

df= pd.read_csv('../Data/Aviation_data.csv')

C:\Users\jacob\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
#checking table
df.head

<bound method NDFrame.head of              Event.Id Investigation.Type Accident.Number  Event.Date  \
0      20001218X45444           Accident      SEA87LA080  1948-10-24
1      20001218X45447           Accident      LAX94LA336  1962-07-19
2      20061025X01555           Accident      NYC07LA005  1974-08-30
3      20001218X45448           Accident      LAX96LA321  1977-06-19
4      20041105X01764           Accident      CHI79FA064  1979-08-02
...               ...                ...             ...         ...
90343  20221227106491           Accident      ERA23LA093  2022-12-26
90344  20221227106494           Accident      ERA23LA095  2022-12-26
90345  20221227106497           Accident      WPR23LA075  2022-12-26
90346  20221227106498           Accident      WPR23LA076  2022-12-26
90347  20221230106513           Accident      ERA23LA097  2022-12-29

              Location        Country Latitude Longitude Airport.Code  \
0      MOOSE CREEK, ID  United States      NaN       NaN          NaN
1       BRIDGEPORT, CA  United States      NaN       NaN          NaN
2        Saltville, VA  United States  36.9222  -81.8781          NaN
3           EUREKA, CA  United States      NaN       NaN          NaN
4           Canton, OH  United States      NaN       NaN          NaN
...                ...            ...      ...       ...          ...
90343    Annapolis, MD  United States      NaN       NaN          NaN
90344      Hampton, NH  United States      NaN       NaN          NaN
90345       Payson, AZ  United States  341525N  1112021W          PAN
90346       Morgan, UT  United States      NaN       NaN          NaN
90347       Athens, GA  United States      NaN       NaN          NaN

      Airport.Name  ... Purpose.of.flight         Air.carrier  \
0              NaN  ...          Personal                 NaN
1              NaN  ...          Personal                 NaN
2              NaN  ...          Personal                 NaN
3              NaN  ...          Personal                 NaN
4              NaN  ...          Personal                 NaN
...            ...  ...               ...                 ...
90343          NaN  ...          Personal                 NaN
90344          NaN  ...               NaN                 NaN
90345       PAYSON  ...          Personal                 NaN
90346          NaN  ...          Personal  MC CESSNA 210N LLC
90347          NaN  ...          Personal                 NaN

      Total.Fatal.Injuries Total.Serious.Injuries Total.Minor.Injuries  \
0                      2.0                    0.0                  0.0
1                      4.0                    0.0                  0.0
2                      3.0                    NaN                  NaN
3                      2.0                    0.0                  0.0
4                      1.0                    2.0                  NaN
...                    ...                    ...                  ...
90343                  0.0                    1.0                  0.0
90344                  0.0                    0.0                  0.0
90345                  0.0                    0.0                  0.0
90346                  0.0                    0.0                  0.0
90347                  0.0                    1.0                  0.0

      Total.Uninjured Weather.Condition  Broad.phase.of.flight  \
0                 0.0               UNK                 Cruise
1                 0.0               UNK                Unknown
2                 NaN               IMC                 Cruise
3                 0.0               IMC                 Cruise
4                 0.0               VMC               Approach
...               ...               ...                    ...
90343             0.0               NaN                    NaN
90344             0.0               NaN                    NaN
90345             1.0               VMC                    NaN
90346             0.0               NaN                    NaN
90347             1.0               NaN                    NaN

        Report.Status Publication.Date
0      Probable Cause              NaN
1      Probable Cause       19-09-1996
2      Probable Cause       26-02-2007
3      Probable Cause       12-09-2000
4      Probable Cause       16-04-1980
...               ...              ...
90343             NaN       29-12-2022
90344             NaN              NaN
90345             NaN       27-12-2022
90346             NaN              NaN
90347             NaN       30-12-2022

[90348 rows x 31 columns]>

In [93]:
#checking info for where to start
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [6]:
#this will make all the answers in the Make category uniform with the answers
df['Make'] = df['Make'].str.capitalize()

In [7]:
unique_severity=df['Injury.Severity'].unique()[:25]
print(unique_severity)

['Fatal(2)' 'Fatal(4)' 'Fatal(3)' 'Fatal(1)' 'Non-Fatal' 'Incident'
 'Fatal(8)' 'Fatal(78)' 'Fatal(7)' 'Fatal(6)' 'Fatal(5)' 'Fatal(153)'
 'Fatal(12)' 'Fatal(14)' 'Fatal(23)' 'Fatal(10)' 'Fatal(11)' 'Fatal(9)'
 'Fatal(17)' 'Fatal(13)' 'Fatal(29)' 'Fatal(70)' 'Unavailable'
 'Fatal(135)' 'Fatal(31)']

In [8]:
unique_makes = df['Make'].unique()[:40]
print(unique_makes)

['Stinson' 'Piper' 'Cessna' 'Rockwell' 'Mcdonnell douglas'
 'North american' 'Beech' 'Bellanca' 'Navion' 'Enstrom' 'Smith' 'Bell'
 'Grumman' 'Beechcraft' 'Maule' 'Air tractor' 'Aerospatiale' 'Mooney'
 'Boeing' 'Curtis' 'Schleicher' 'Quickie' 'Lockheed' 'Embraer' 'Hughes'
 'Swearingen' 'De havilland' 'Bell helicopter' 'Bede aircraft' 'Convair'
 'Beachner' 'Canadair' 'Douglas' 'Sons mustang' 'Dassault/sud' 'Sikorsky'
 'Bell/textron' 'Robertson' 'Aeronca' 'Smith miniplane']

In [9]:
#listing of keys
df.keys()

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [10]:
df['Total.Serious.Injuries'].value_counts()

0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
8.0         13
10.0        13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
25.0         3
20.0         3
28.0         3
17.0         2
50.0         2
59.0         2
21.0         2
47.0         2
55.0         1
88.0         1
41.0         1
67.0         1
33.0         1
18.0         1
161.0        1
81.0         1
39.0         1
137.0        1
27.0         1
15.0         1
45.0         1
125.0        1
23.0         1
44.0         1
106.0        1
22.0         1
34.0         1
16.0         1
35.0         1
53.0         1
43.0         1
63.0         1
19.0         1
60.0         1
Name: Total.Serious.Injuries, dtype: int64

In [11]:
df['Total.Uninjured'].value_counts()

0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
325.0        1
230.0        1
260.0        1
251.0        1
414.0        1
Name: Total.Uninjured, Length: 379, dtype: int64

In [12]:
df['Report.Status'].value_counts()

Probable Cause                                                                                                                                                                                                  61754
Foreign                                                                                                                                                                                                          1999
<br /><br />                                                                                                                                                                                                      167
Factual                                                                                                                                                                                                           145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                       58
                                                                                                                                                                                                                ...
The pilot's failure to maintain directional control during the go-around, which resulted in a collision with terrain.                                                                                               1
The pilot's failure to maintain a proper glide path during the landing approach and his failure to use available engine power to arrest the descent, resulting in an undershoot and collision with terrain.         1
The pilot's improper decision to take off with known electrical issues, which distracted him and led to a loss of directional control during the takeoff roll. \r\n\r\n \r\n\r                                      1
The pilot's inadequate fuel management, which resulted in a total loss of engine power due to fuel starvation. Contributing to the accident was the pilots distraction of the formation flight.  \r\n\r\n\r        1
The pilot's failure to maintain a proper approach path in gusting crosswind wind conditions, which resulted in landing short of the runway and impact with a ditch and runway light.\r\n\r\n\r                      1
Name: Report.Status, Length: 17007, dtype: int64

In [13]:
df['Event.Date'].value_counts()

1982-05-16    25
1984-06-30    25
2000-07-08    25
1984-08-25    24
1983-06-05    24
              ..
2016-11-02     1
2022-12-22     1
1993-03-04     1
1993-10-28     1
1995-04-10     1
Name: Event.Date, Length: 14782, dtype: int64

In [14]:
#seperate the event dat into years and add a column for just year
df['Year'] = df['Event.Date'].str[:4]
print(df['Year'])

0        1948
1        1962
2        1974
3        1977
4        1979
         ...
90343    2022
90344    2022
90345    2022
90346    2022
90347    2022
Name: Year, Length: 90348, dtype: object

In [15]:
df.duplicated().value_counts()

False    88958
True      1390
dtype: int64

In [16]:
#dropping duplicates
df= df.drop_duplicates()

In [17]:
df.shape

(88958, 32)

In [18]:
df['Country'].value_counts()

United States     82248
Brazil              374
Canada              359
Mexico              358
United Kingdom      344
                  ...
Gibraltar             1
Obyan                 1
AY                    1
Benin                 1
French Guiana         1
Name: Country, Length: 219, dtype: int64

In [19]:
#columns_to_clean = ['Event.Id', 'Accident.Number', 'Event.Date', 'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Injury.Severity', 'Aircraft.damage', 'Number.of.Engines', 'Engine.Type', 'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status', 'Publication.Date']
#for column in columns_to_clean:
    #df = df[df[column].notnull()]

In [20]:
df_injuries = df.dropna(subset=['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries','Total.Uninjured','Make', 'Model', 'Injury.Severity'],how='any')
df_injuries

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Year
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,1948
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,1962
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,1977
6,20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001,1981
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90341,20221222106486,Accident,CEN23LA068,2022-12-21,"Reserve, LA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,27-12-2022,2022
90342,20221228106502,Accident,GAA23WA046,2022-12-22,"Brasnorte,",Brazil,NaN,NaN,NaN,NaN,...,NaN,1.0,0.0,0.0,0.0,NaN,NaN,NaN,28-12-2022,2022
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,2022
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022

In [21]:
df = df.drop(['Longitude', 'Airport.Code','Airport.Name','Air.carrier'], axis=1)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88958 entries, 0 to 90347
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88958 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Injury.Severity         87889 non-null  object
 8   Aircraft.damage         85695 non-null  object
 9   Aircraft.Category       32287 non-null  object
 10  Registration.Number     87572 non-null  object
 11  Make                    88826 non-null  object
 12  Model                   88797 non-null  object
 13  Amateur.Built           88787 non-null  object
 14  Number.of.Engines       82805 non-null  float64
 15  Engine.Type             81812 non-null  object
 16  FAR.Description         32023 non-null  object
 17  Schedule                12582 non-null  object
 18  Purpose.of.flight       82697 non-null  object
 19  Total.Fatal.Injuries    77488 non-null  float64
 20  Total.Serious.Injuries  76379 non-null  float64
 21  Total.Minor.Injuries    76956 non-null  float64
 22  Total.Uninjured         82977 non-null  float64
 23  Weather.Condition       84397 non-null  object
 24  Broad.phase.of.flight   61724 non-null  object
 25  Report.Status           82508 non-null  object
 26  Publication.Date        73659 non-null  object
 27  Year                    88889 non-null  object
dtypes: float64(5), object(23)
memory usage: 19.7+ MB

In [23]:
#removed all data that doesnt pertain to an airplane in the key Aircraft.category brought total number of entries down to 27617
df = df[df['Aircraft.Category'].str.lower().str.contains('airplane', na=False)]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27617 entries, 5 to 90345
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                27617 non-null  object
 1   Investigation.Type      27617 non-null  object
 2   Accident.Number         27617 non-null  object
 3   Event.Date              27617 non-null  object
 4   Location                27610 non-null  object
 5   Country                 27610 non-null  object
 6   Latitude                22092 non-null  object
 7   Injury.Severity         26803 non-null  object
 8   Aircraft.damage         26335 non-null  object
 9   Aircraft.Category       27617 non-null  object
 10  Registration.Number     27391 non-null  object
 11  Make                    27608 non-null  object
 12  Model                   27586 non-null  object
 13  Amateur.Built           27600 non-null  object
 14  Number.of.Engines       24863 non-null  float64
 15  Engine.Type             23391 non-null  object
 16  FAR.Description         27118 non-null  object
 17  Schedule                2990 non-null   object
 18  Purpose.of.flight       23878 non-null  object
 19  Total.Fatal.Injuries    24452 non-null  float64
 20  Total.Serious.Injuries  24393 non-null  float64
 21  Total.Minor.Injuries    24739 non-null  float64
 22  Total.Uninjured         26717 non-null  float64
 23  Weather.Condition       24564 non-null  object
 24  Broad.phase.of.flight   6408 non-null   object
 25  Report.Status           22646 non-null  object
 26  Publication.Date        25377 non-null  object
 27  Year                    27617 non-null  object
dtypes: float64(5), object(23)
memory usage: 6.1+ MB

In [25]:
df['FAR.Description'].value_counts()

091                               15901
Part 91: General Aviation          5688
NUSN                               1157
NUSC                                807
137                                 744
121                                 653
135                                 540
Part 137: Agricultural              360
Part 135: Air Taxi & Commuter       235
UNK                                 232
129                                 202
Part 121: Air Carrier               165
PUBU                                126
Part 129: Foreign                    89
Non-U.S., Non-Commercial             78
Non-U.S., Commercial                 74
Unknown                              19
091K                                 14
Public Use                           13
Part 125: 20+ Pax,6000+ lbs           5
125                                   5
ARMF                                  4
Part 133: Rotorcraft Ext. Load        2
Armed Forces                          1
107                                   1
Part 91 Subpart K: Fractional         1
Public Aircraft                       1
Part 91F: Special Flt Ops.            1
Name: FAR.Description, dtype: int64

In [26]:
df['Purpose.of.flight'].value_counts()

Personal                     16154
Instructional                 3212
Aerial Application            1068
Unknown                        886
Business                       785
Positioning                    359
Flight Test                    226
Ferry                          176
Aerial Observation             170
Skydiving                      166
Other Work Use                 158
Executive/corporate            151
Banner Tow                      89
Air Race show                   74
Public Aircraft - Federal       53
Public Aircraft                 43
Glider Tow                      35
Public Aircraft - State         24
Firefighting                    17
Public Aircraft - Local         12
Air Race/show                    7
ASHO                             6
Air Drop                         3
PUBS                             3
External Load                    1
Name: Purpose.of.flight, dtype: int64

In [27]:
df['Model'].value_counts()

172              870
152              451
737              404
182              345
172N             316
                ...
AERONCA 7FC        1
P2V-5              1
ERCOUPE 415-D      1
Spacewalker        1
L-29 Delfin        1
Name: Model, Length: 5367, dtype: int64

In [28]:
#categories that data may not pertain to our project/business inquiry
#event.date,registration number, schedule, publication date, FAR description??
#
#

In [29]:
#great identifier to seperate into cateogries, maybe color code this with the makes of the planes...?
df_airplane = df['Make'].value_counts()[:20]

In [30]:
df_airplane.info()

AttributeError: 'Series' object has no attribute 'info'

<bound method DataFrame.info of              Event.Id Investigation.Type Accident.Number  Event.Date  \
7      20020909X01562           Accident      SEA82DA022  1982-01-01
8      20020909X01561           Accident      NYC82DA015  1982-01-01
12     20020917X02148           Accident      FTW82FRJ07  1982-01-02
13     20020917X02134           Accident      FTW82FRA14  1982-01-02
15     20020917X02117           Accident      FTW82FPG08  1982-01-02
...               ...                ...             ...         ...
90320  20221215106460           Accident      ERA23LA088  2022-12-10
90324  20221212106444           Accident      ERA23LA085  2022-12-12
90328  20221213106455           Accident      WPR23LA065  2022-12-13
90332  20221215106463           Accident      ERA23LA090  2022-12-14
90336  20221219106470           Accident      ERA23LA091  2022-12-16

               Location        Country Latitude Longitude Airport.Code  \
7           PULLMAN, WA  United States      NaN       NaN          NaN
8      EAST HANOVER, NJ  United States      NaN       NaN          N58
12            HOMER, LA  United States      NaN       NaN          NaN
13           HEARNE, TX  United States      NaN       NaN          T72
15      LITTLE ROCK, AR  United States      NaN       NaN          NaN
...                 ...            ...      ...       ...          ...
90320     Alabaster, AL  United States  331040N  0086470W          EET
90324     Knoxville, TN  United States  355745N  0835218W          DKX
90328     Lewistown, MT  United States  047257N  0109280W         KLWT
90332      San Juan, PR  United States  182724N  0066554W          SIG
90336   Brooksville, FL  United States  282825N  0822719W          BKV

                        Airport.Name  ... Purpose.of.flight  \
7                 BLACKBURN AG STRIP  ...          Personal
8                            HANOVER  ...          Business
12                               NaN  ...          Personal
13                  HEARNE MUNICIPAL  ...          Personal
15                               NaN  ...          Personal
...                              ...  ...               ...
90320                            NaN  ...          Personal
90324      KNOXVILLE DOWNTOWN ISLAND  ...     Instructional
90328     Lewiston Municipal Airport  ...               NaN
90332  FERNANDO LUIS RIBAS DOMINICCI  ...          Personal
90336     BROOKSVILLE-TAMPA BAY RGNL  ...          Personal

                             Air.carrier Total.Fatal.Injuries  \
7                                    NaN                  0.0
8                                    NaN                  0.0
12                                   NaN                  0.0
13                                   NaN                  1.0
15                                   NaN                  2.0
...                                  ...                  ...
90320                                NaN                  0.0
90324  Knoxville Flight Training Academy                  0.0
90328                                NaN                  0.0
90332      SKY WEST AVIATION INC TRUSTEE                  0.0
90336                   GERBER RICHARD E                  0.0

      Total.Serious.Injuries Total.Minor.Injuries Total.Uninjured  \
7                        0.0                  0.0             2.0
8                        0.0                  0.0             2.0
12                       0.0                  1.0             0.0
13                       0.0                  0.0             0.0
15                       0.0                  0.0             0.0
...                      ...                  ...             ...
90320                    0.0                  0.0             2.0
90324                    0.0                  0.0             1.0
90328                    0.0                  0.0             1.0
90332                    0.0                  0.0             1.0
90336                    1.0                  0.0             0.0

      Weather.Condition  Broad.phase.of.flight   Report.Status  \
7                   VMC                Takeoff  Probable Cause
8                   IMC                Landing  Probable Cause
12                  IMC                 Cruise  Probable Cause
13                  IMC                Takeoff  Probable Cause
15                  IMC                 Cruise  Probable Cause
...                 ...                    ...             ...
90320               NaN                    NaN             NaN
90324               VMC                    NaN             NaN
90328               NaN                    NaN             NaN
90332               VMC                    NaN             NaN
90336               VMC                    NaN             NaN

      Publication.Date
7           01-01-1982
8           01-01-1982
12          02-01-1983
13          02-01-1983
15          02-01-1983
...                ...
90320       19-12-2022
90324       15-12-2022
90328       14-12-2022
90332       27-12-2022
90336       23-12-2022

[19542 rows x 31 columns]>

In [31]:
top_20_makes = df['Make'].value_counts().head(20).index
df_truncated = df[df['Make'].isin(top_20_makes)]

In [32]:
df_cleaned= df[df['Make'].isin(top_20_makes)]

In [33]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19542 entries, 7 to 90336
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                19542 non-null  object
 1   Investigation.Type      19542 non-null  object
 2   Accident.Number         19542 non-null  object
 3   Event.Date              19542 non-null  object
 4   Location                19537 non-null  object
 5   Country                 19536 non-null  object
 6   Latitude                15056 non-null  object
 7   Injury.Severity         18869 non-null  object
 8   Aircraft.damage         18537 non-null  object
 9   Aircraft.Category       19542 non-null  object
 10  Registration.Number     19382 non-null  object
 11  Make                    19542 non-null  object
 12  Model                   19533 non-null  object
 13  Amateur.Built           19528 non-null  object
 14  Number.of.Engines       17546 non-null  float64
 15  Engine.Type             16461 non-null  object
 16  FAR.Description         19220 non-null  object
 17  Schedule                2192 non-null   object
 18  Purpose.of.flight       16778 non-null  object
 19  Total.Fatal.Injuries    17250 non-null  float64
 20  Total.Serious.Injuries  17170 non-null  float64
 21  Total.Minor.Injuries    17405 non-null  float64
 22  Total.Uninjured         18968 non-null  float64
 23  Weather.Condition       17230 non-null  object
 24  Broad.phase.of.flight   5035 non-null   object
 25  Report.Status           15893 non-null  object
 26  Publication.Date        17975 non-null  object
 27  Year                    19542 non-null  object
dtypes: float64(5), object(23)
memory usage: 4.3+ MB

In [34]:
df_cleaned.to_csv('Aviation_data.csv', index=False)